h1 {
  height: 50px;
  width: 250px;
  border: 9px solid black;
  color: black;
  background: violet;
  float: none;
  font-size: 42px;
  padding: 20px;
  margin: 200px;

}

p {
  margin: 30%;
  padding: 30px;
  float: center;
  height: 30px;
  width: 300px;
  border: 8px dotted  cornflowerblue;
  color: black;
  background: white;
  font-size: 14px
}

.PictureofBread {
  background: white;
  height: auto;
  padding: 50px;
  border: 9px darkviolet;
  
}

.BreadStore {
  float: right;
  margin: 20px
}

#Header {
  background: white
}